#box_content_voca_extension * {
  margin: 0;
  padding: 0;
}

.user__information {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.box-login-or-user {
  display: flex;
  cursor: pointer;
}

.ex-text-userinfo {
  display: flex;
  gap: 10px;
  justify-content: end;
  color: rgba(255, 203, 8, 1);
  line-height: 30px;
}

.user-display-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
  cursor: pointer;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d4d4d4;
}

/* user info loading */

.box-login-or-user.loading {
  position: relative;
  width: 80px;
  height: 30px;
}

.box-login-or-user.loading span {
  display: inline-block;
  position: absolute;
  top: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 203, 8, 1);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  transform: translateY(-50%);
}
.box-login-or-user.loading span:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.box-login-or-user.loading span:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.box-login-or-user.loading span:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.box-login-or-user.loading span:nth-child(4) {
  left: 44px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(18px, 0);
  }
}

#box_content_voca_extension {
  background-color: #fff;
  width: 370px;
  position: fixed;
  top: 0;
  right: 0;
  font-family: Quicksand !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px !important;
  border-bottom-left-radius: 12px !important;
  font-size: 13px !important;
  z-index: 999999999999999;
}

#voca-header {
  z-index: 10;
  display: flex !important;
  justify-content: space-between !important;
  height: 47px !important;
  align-items: center !important;
  color: black !important;
  font-weight: bold !important;
  position: sticky !important;
  top: 0px !important;
  right: 0px !important;
  left: 0px !important;
  border-bottom: 1px solid rgb(255, 203, 8) !important;
  background: white !important;
  padding-right: 20px;
}

.voca-tab {
  border-top-right-radius: 5px;
  font-size: 14px;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  cursor: pointer !important;
  padding: 0px 12px !important;
}

.voca-tab-active {
  background-color: rgb(255, 203, 8) !important;
}

#voca-box-arround-content {
  min-height: 200px;
  position: relative;
  padding: 0px 15px 40px !important;
  max-height: 500px;
  overflow: auto;
}

#voca-box-arround-content .wrapper {
  position: relative;
  font-size: 13px !important;
  min-height: 160px;
}

#voca-box-arround-content::-webkit-scrollbar {
  width: 8px;
}

#voca-box-arround-content::-webkit-scrollbar-thumb {
  background-color: rgb(198, 198, 198);
  border-radius: 10px;
}

#voca-box-arround-content::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* content loading */

#voca-box-arround-content .wrapper.loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

#voca-box-arround-content .wrapper.loading::before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid rgb(255, 203, 8);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#voca-box-arround-content .wrapper.loading::after {
  content: "";
  display: block;
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#voca-box-arround-content #voca_dom_gg_search {
  padding: 15px 0 0;
  font-weight: 600;
  min-height: 160px;
}

#voca_dom_gg_search .voca-sentences-list {
  min-height: 145px;
}

#voca-box-arround-content .voca-empty {
  min-height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#voca-box-arround-content .box_content_voca_extension-scroll {
  overflow-y: auto;
  padding: 10px;
  max-height: 24vh;
  margin-bottom: 10px;
  color: black;
  border: 1px solid #ffcb08;
  border-radius: 5px;
}

#voca-box-arround-content
  .box_content_voca_extension-scroll.voca-sentences-trans {
  background: #f5f5f5;
  border: 1px solid #d1cdcd;
}

#voca-box-arround-content .voca-text-title {
  font-size: 15px !important;
  font-weight: bold !important;
  max-width: 192px !important;
  color: black !important;
  margin: 20px 0 !important;
  text-transform: capitalize;
}

#voca-box-arround-content .voca-ex-phonetic {
  display: flex !important;
  align-items: center !important;
  height: 35px !important;
}

#voca-box-arround-content .voca-ex-text {
  font-size: 1em;
  color: rgb(47, 128, 237) !important;
  font-weight: bold !important;
  width: 43px !important;
  margin-right: 10px !important;
  margin-bottom: 0px !important;
}

#voca-box-arround-content .voca-ex-audio {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px -1px !important;
  cursor: pointer !important;
  padding-left: 4px !important;
  width: 29px !important;
  height: 29px !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 50% !important;
  margin: 0px 10px !important;
}

#voca-box-arround-content .voca-ex-phonetic-text {
  margin-left: 10px;
  margin-bottom: 0px !important;
  color: black !important;
  font-size: 1em;
}

#voca-box-arround-content .voca-detai-translate {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  color: black !important;
  margin: 10px 0px !important;
}

#voca-box-arround-content .voca-text-translate {
  max-width: 192px !important;
  color: black !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

#voca-box-arround-content .voca-save-word {
  box-shadow: rgb(16, 161, 35) 0px 2px 1px 0px !important;
  color: white !important;
  width: 81px !important;
  height: 25px !important;
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  background: linear-gradient(
    270deg,
    rgb(36, 173, 55) 0%,
    rgb(87, 203, 4) 100%
  ) !important;
  border-radius: 100px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  padding: 0px 5px !important;
}

#voca-box-arround-content .voca-word-sentence {
  line-height: 20px;
  color: black;
  font-size: 13px;
}

#voca-box-arround-content .voca-suggest-wrapper {
  text-align: left !important;
  min-height: 210px !important;
  line-height: 25px !important;
  padding: 20px 10px !important;
}

#voca-box-arround-content .voca-suggest-msg-vn {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: bold !important;
}

#voca-box-arround-content .voca-suggest-word {
  font-size: 1em;
  font-weight: 600 !important;
  font-style: normal !important;
  color: rgb(255, 203, 8) !important;
  cursor: pointer !important;
}