@import "./box-login-or-user.css";

.box_extension {
  width: 370px;
  padding: 10px 17px 15px;
  font-family: "Quicksand", sans-serif;
  border-radius: 20px 0px 0px 20px;
}

.box_input_search {
  position: relative;
  margin-top: 1%;
  display: block;
}

.box_input_search-input {
  height: 17px;
  padding: 10px 40px 10px 20px;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.box_input_search-input:focus-visible {
  outline: none !important;
  border: 2px solid #ffba00;
}

.box_input_search img {
  position: absolute;
  right: 17px;
  top: 5px;
  width: 26px;
  cursor: pointer;
}

box-result {
  position: relative;
  margin-top: .5rem;
  display: block;
  min-height: 50px;
}

box-result.loading::after {
  display: block;
  content: '';
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;

  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

